/* Navigation bar  */
#navbar {
  flex-direction: column;
}
#navbar ul li a {
  font-size: 1rem;
  padding-bottom: 3px;
}
/* Home Section  */
#home {
  height: 352px;
  padding: 0px 91px;
}
#home p {
  font-size: 10px;
}
#home::before {
  height: 445px;
}
/* Services container  */

#services {
  flex-direction: column;
}
#services .box img {
  width: 97px;
  height: 180px;
}
/* Clint Section   */
#clintes-section {
}
#clintes {
  flex-flow: wrap;
}
#clintes-item {
  padding: 5px;
}
/* Contact Us  */
#contact-section {
}
.from-group {
  width: 524px;
}
.from-group input,
.from-group textarea {
  padding: 3px 9px;
  border-radius: 4px;
  font-size: 13px;
}

/* utility classes  */
.h1-primary {
  font-size: 13px;
}
#btn {
  font-size: 12px;
  padding: 4px 5px;
}
#button {
  padding: 10px 65px;
}
