/* css reset  */
* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}

/* css variables */
:root {
}
#logo {
  margin: 9px 17px;
  font-size: 50px;
  height: 50px;
  width: 50px;
}

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}
#navbar ul {
  display: flex;
}
#navbar::before {
  content: " ";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
#navbar ul li {
  list-style: none;
  padding: 2px 4px;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  padding: 2px 9px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}
/* section id home */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
  padding: 3px 200px;
}

#home::before {
  content: " ";
  background: url("./bg1.jpg") no-repeat center center/cover;
  position: absolute;
  height: 70%;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
  top: 0px;
  left: 0px;
}
#home h1 {
  color: black;
}
#home p {
  color: black;
  font-size: 20px;
}
#btn {
  background-color: brown;
  padding: 9px;
  margin: 21px;
  border: 2px solid black;
  font-size: 1.5rem;
  border-radius: 27px;
  cursor: pointer;
}

#services {
  display: flex;
}

#services .box {
  border: 2px solid black;
  padding: 21px;
  margin: 5px;
  background-color: rgb(219, 210, 210);
  border-radius: 23px;
}

#services .box img {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  border-radius: 20px;
}

.box p {
  padding: 2px 3px;
}
.h-primary {
  font-size: 2rem;
}
#services .box {
  font-family: serif;
}

#clintes {
  display: flex;
  justify-content: center;
  align-items: center;
}
#clintes img {
  height: 100px;
}
.clintes-item {
  padding: 34px;
}
#clintes-section {
  position: relative;
}
#clintes-section::before {
  content: "";
  position: absolute;
  background: url("bg2.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  background: url("bg3.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}
.from-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.from-group form {
  width: 40px;
}
.from-group input,
.from-group textarea {
  padding: 20px 50px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 26px;
  margin: -1px -133px;
}
.from-group label {
  color: white;
}
#button {
  padding: 10px 140px;
  cursor: pointer;
}

footer {
  background-color: black;
  color: white;
  padding: 4px 7px;
}

/* utility classes */
 
.h1-primary {
  font-size: 2.3rem;
  padding: 14px;
}
.h1-secondary {
  font-size: 1.3rem;
  padding: 14px;
}

.center {
  text-align: center;
}

.box img {
  height: 300px;
  width: 400px;
}
